In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib notebook
import warnings
warnings.filterwarnings('always')

In [2]:
d=pd.read_csv(r"C:\Users\Hariharan\OneDrive\Desktop\cap\c.csv")

In [5]:
## features selected by Decision Tree
s=set()
s={"age","bp","al","su","pc","pcc","ba","bgr","bu","sod","pot","pcv","wbcc","rbcc","htn","cad","appet","pe","ane"}
X=d.iloc[:,0:24]
X=X.drop(s,axis=1)
X.head()

      sg     rbc   sc  hemo   dm
0  1.020       0  1.2  15.4  yes
1  1.020       0  0.8  11.3   no
2  1.010  normal  1.8   9.6  yes
3  1.005  normal  3.8  11.2   no
4  1.010  normal  1.4  11.6   no

In [7]:
## features selected by Random Forest
s=set()
s={"age","bp","al","su","pc","pcc","ba","bgr","bu","sod","pot","rbc","wbcc","dm","htn","cad","appet","pe","ane"}
X=d.iloc[:,0:24]
X=X.drop(s,axis=1)
X.head()

      sg   sc  hemo   pcv  rbcc
0  1.020  1.2  15.4  44.0   5.2
1  1.020  0.8  11.3  38.0   0.0
2  1.010  1.8   9.6  31.0   0.0
3  1.005  3.8  11.2  32.0   3.9
4  1.010  1.4  11.6  35.0   4.6

In [8]:
DecisionTreeFt=set()
RandomForestFt=set()
DecisionTreeFt={"sg","rbc","sc","hemo","dm"}
RandomForestFt={"sg","sc","hemo","pcv","rbcc"}
T_U_F = DecisionTreeFt.union(RandomForestFt)
T_U_F

{'dm', 'hemo', 'pcv', 'rbc', 'rbcc', 'sc', 'sg'}

In [9]:
T_n_F = DecisionTreeFt.intersection(RandomForestFt)
T_n_F

{'hemo', 'sc', 'sg'}